<div class="bg-primary w-full min-h-[300px] flex flex-col justify-center items-center text-center py-10 mt-10">
  <div class="block w-full lg:grid grid-rows-2 grid-flow-col gap-4">
    <div class="row-span-2 relative flex flex-col justify-center items-center mb-10">
      <div class="w-full flex justify-center">
        <div class="px-5">
          <%= svg_tag 'social/globe', size: '5xl', svg_class: 'text-secondary', options: { viewBox: '0 0 24 24', g_color: 'none', stroke: 'currentColor', 'stroke-width': '1.5', fill: 'none' } %>
        </div>
        <div class="px-5">
          <%= svg_tag 'social/twitter', size: '5xl', svg_class: 'text-secondary', options: { viewBox: '0 0 50 50' } %>
        </div>
        <div class="px-5">
          <%= svg_tag 'social/linkedin', size: '5xl', svg_class: 'text-secondary', options: { viewBox: '0 0 32 32' } %>
        </div>
      </div>
      <br>
      <span class="font-body text-sm">Copyright © 2024 - All rights reserved</span>
    </div>
    <div class="row-span-2 relative flex flex-wrap justify-start items-start">
      <div class="lg:w-1/3 w-full px-4 flex flex-col justify-center items-center lg:items-start gap-2 mb-10">
        <h3 class="font-heading text-secondary"><%= t('.sections') %></h3>
        <% %w[hero banner panels tiles faqs].each do |section| %>
          <%= link_to t("front.sections.#{section}"), "#" +  t("front.sections.#{section}").parameterize %>
        <% end %>
      </div>
      <div class="lg:w-1/3 w-full px-4 flex flex-col justify-center items-center lg:items-start gap-2 mb-10">
        <h3 class="font-heading text-secondary"><%= t('.links') %></h3>
        <%= link_to t('devise.sign_up'), new_user_registration_path %>
        <%= link_to t('devise.log_in'), new_user_session_path %>
        <%= link_to t('front.actions.get_started'), spaces_path %>
      </div>
      <div class="lg:w-1/3 w-full px-4 flex flex-col justify-center items-center lg:items-start gap-2 mb-10">
        <h3 class="font-heading text-secondary"><%= t('.more') %></h3>
        <%= link_to 'Website', '#footer' %>
        <%= link_to 'Twitter', '#footer' %>
        <%= link_to 'Linkedin', '#footer' %>
      </div>
      <div class="lg:w-1/3 w-full px-4 flex flex-col justify-center items-center lg:items-start gap-2 mb-10">
        <h3 class="font-heading text-secondary"><%= t('.legal') %></h3>
        <%= link_to t('front.actions.terms_of_service'), '#footer' %>
        <%= link_to t('front.actions.privacy_policy'), '#footer' %>
      </div>
    </div>
  </div>
</div>
