<div class="my-10">
  <h1 class="text-black dark:text-white font-heading text-7xl text-center mb-10"><%= t('.title') %></h1>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-2 lg:grid-cols-3 lg:gap-3 ">
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_1_title_space') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_1_description_space') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_2_title_space_user') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_2_description_space_user') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_3_title_user') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_3_description_user') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_4_title_yml') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_4_description_yml') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_5_title_safety') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_5_description_safety') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_6_title_dark') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_6_description_dark') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_7_title_html') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_7_description_html') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_8_title_css') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_8_description_css') %></p>
    </div>
    <div class="border-0 md:border lg:border border-gray-300 dark:border-secondary rounded p-6 h-full w-full">
      <h3 class="text-black dark:text-white font-heading text-2xl"><%= t('.tile_9_title_js') %></h3>
      <p class="font-body text-muted-foreground"><%= t('.tile_9_description_js') %></p>
    </div>
  </div>
</div>
