<%= render layout: 'shared/drawer' do %>
  <%= render layout: 'shared/container' do %>
    <% if false %>
      <%= render 'posts/filter', search_url: posts_url, locations_data: @locations_data %>
    <% end %>
    <% if @posts.count.positive? %>
      <%= @posts_count %> <%= t('post', scope: 'activerecord.models', count: @posts_count) %>
      <%= turbo_frame_tag :posts do %>
        <%= render @posts %>
        <% if @pagy.next %>
          <%= turbo_frame_tag :posts, loading: :lazy, src: posts_path(only_path: false, params: { page: @pagy.next }.merge(request.query_parameters.except(:page))) do %>
            <%= render partial: 'shared/spinner' %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('alert.none', class_name: t('post', scope: 'activerecord.models').pluralize.downcase) %></p>
    <% end %>
  <% end %>
<% end %>
