<% if can? :create, Post %>
  <%= primary_link(t('posts.new'), new_post_path) %>
  <br><br>
<% end %>
<% if @posts.count.positive? %>
  <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
  <%= render @posts %>
  <%== render partial: 'shared/pagy/nav', locals: { pagy: @pagy } %>
<% else %>
  <p><%= t('alert.none', class_name: t('post', scope: 'activerecord.models').pluralize.downcase) %></p>
<% end %>
