<%= render 'shared/top_margin' %>
<%= render layout: 'shared/container' do %>
  <% if can? :create, Post %>
    <%= form_with url: posts_path, method: :post, builder: TailwindBuilder do |form| %>
      <%= form.submit t('posts.new') %>
    <% end %>
    <%#= primary_link(t('posts.new'), posts_path, method: :post, data: { turbo: false }) %>
    <br><br>
  <% end %>
  <%= turbo_frame_tag :posts_index do %>
    <%= render 'posts/filter', search_url: posts_url, locations_data: @locations_data %>
    <% if @posts.count.positive? %>
      <%= @posts_count %> Posts
      <%= turbo_frame_tag :posts do %>
        <%= render @posts %>
        <% if @pagy.next %>
          <%= turbo_frame_tag :posts, loading: :lazy, src: posts_path(only_path: false, params: { page: @pagy.next }.merge(request.query_parameters.except(:page))) do %>
            <%= render partial: 'shared/spinner' %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p><%= t('alert.none', class_name: t('post', scope: 'activerecord.models').pluralize.downcase) %></p>
    <% end %>
  <% end %>
<% end %>
