<%= render 'shared/top_margin' %>
<%= render layout: 'shared/container' do %>
  <div class="w-auto lg:w-1/2">
    <div class="h-80 w-full" style="background-image:url(<%= @post.image_url %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </div>
    <%= form_with model: @post, url: post_wizard_path(@post, @step), method: :patch, builder: TailwindBuilder do |form| %>
      <div class="relative my-8 border-b-2 focus-within:border-secondary">
        <%= form.text_field :title, placeholder: " " %>
        <%= form.label :title %>
      </div>
      <div class="relative my-8 border-b-2 focus-within:border-secondary">
        <%= form.text_area :description, placeholder: " " %>
        <%= form.label :description %>
      </div>

      <%= form.hidden_field :image_url %>

      <div class="flex my-8 items-center justify-between">
        <%= form.label :location, class: "relative", style: "top: 0px; transform: none !important;" %>
        <%= form.select(:location_id,
                        options_for_select(@locations_data, @location_ids),
                        {},
                        { data:     { controller:  "slim-select",
                                      placeholder: t('actions.search'),
                                      "no-result": t('alert.none', class_name: t('location', scope: 'activerecord.models').pluralize.downcase)  },
                          multiple: true,
                          class:    "w-full lg:w-1/2 ml-6" }) %>
      </div>
      <div class="field">
        <%= form.submit t('actions.submit') %>
      </div>
    <% end %>
  </div>
<% end %>
