<!DOCTYPE html>
<html class="<%= 'dark' if dark_theme? && cookies[:moon] %>">
  <head>
    <title>Jmapp</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "fonts", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body class="bg-white dark:bg-black">
    <% unless content_for? :header %>
      <div class="sticky top-0 z-10">
        <%= render 'shared/header' %>
      </div>
    <% end %>
    <%= turbo_frame_tag :modal do %>
    <% end %>
    <div class="sticky top-20 w-fit z-20 ml-2 lg:ml-5">
      <%= turbo_frame_tag :flash do %>
        <%= render 'shared/flash' %>
      <% end %>
    </div>
    <% if front_page? %>
      <%= yield %>
    <% else %>
      <%= render layout: 'shared/container' do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
